<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AgeGuesser Guessing</title>
    </head>

    <body>
        <style>
            @import url(style.css);
            @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
        </style>
        <%- include('common/header') %>

        <br /><br />
        <h1>Attempt <%- attempts %> / 5</h1>
        <h2>Guess the Age for: <%- name %></h2>

        <form action="/guess" method="post">
            <input id="guess" type="number" name="age" placeholder="Enter Your Guess" min="0" required />
            <input type="submit" />
        </form>

        <!-- <p>Remaining Attempts: <%- remaining %></p> -->
    </body>
</html>
