<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AgeGuesser</title>
    </head>

    <body>
        <style>
            @import url(style.css);
            @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
        </style>
        <%- include('common/header') %>

        <br /><br />
        <h2 id="howToPlay">How to Play</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis nulla lectus, eget tincidunt ligula
            auctor ac. Nunc diam nisi, feugiat vel hendrerit ac, pellentesque ut lectus. Fusce nunc sem, aliquam ac
            elementum a, porttitor dapibus sapien. Nam accumsan, tortor imperdiet maximus tincidunt, nisi purus egestas
            diam, et dictum ligula purus eu velit. Curabitur egestas massa in mi tristique, sed rutrum ante
            sollicitudin. Etiam neque risus, varius non orci vel, efficitur hendrerit ex. Nullam ornare et mi eu
            aliquet. Curabitur quis metus vel erat tempor interdum. Praesent consectetur nulla quis quam sagittis
            ullamcorper. Nunc non pulvinar arcu. Fusce libero justo, viverra ut ullamcorper id, hendrerit sit amet arcu.
        </p>

        <a href="/play">
            <button id="play">Play</button>
        </a>
    </body>
</html>
