<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AgeGuesser</title>
    </head>

    <body>
        <style>
            @import url(style.css);
            @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
        </style>
        <%- include('common/header') %>

        <br /><br />
        <h2 id="howToPlay">How to Play</h2>
        <p>
            Welcome to AgeGuesser! The game where you guess the ages of person based on their name. 
            You will be given 5 names to guess their correlating correct age. Each correct guess earns you points, 
            and the closer you guess, the more points you get! Your total score will be displayed at the end of the game.
        </p>

        <a href="/play">
            <button id="play">Play</button>
        </a>
    </body>
</html>
