<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AgeGuesser Leaderboard</title>
    </head>

    <body>
        <style>
            @import url(style.css);
            @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
        </style>
        <%- include('common/header') %>

        <br /><br />
        <h2>Leaderboard</h2>
    </body>
</html>
