<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AgeGuesser Play</title>
    </head>

    <body>
        <%- include('common/header') %>

        <br /><br />
        <h2>Play</h2>
    </body>
</html>
